<div class="footer">
    <div class="footer-box">
        <a class="footer-link" routerLink="#">Contact Us</a>
        <a class="footer-link" routerLink="#">FAQ</a>
        <a class="footer-link" routerLink="#">Social media</a>
    </div>
    <div class="input-group-text border-dark">
        <p class="text-center">Sign up for our newsletter</p>
        <input type="text" class="form-control" aria-label="Username">
        <button type="button" class="btn border-white">Subscribe</button>
    </div>
    <p class="footer-p">&#169; 2023 Copyright Oksana Furman</p>
</div>