h1 {
    text-align: center;
    margin: 2rem;
    padding: 2rem;
    font-family: 'Playball', cursive;
}

.d-flex {
    margin: 0.8rem;
    padding: 0.8rem;
    .flex-grow-1 {
        text-align: center;
        h4 {
            margin: 0.8rem;
            padding: 0.8rem;
            font-family: 'Playball', cursive;
        }
    }
    .flex-shrink-0 {
        // width: 25rem;
        // overflow: hidden;
        img {
            height: 37.5rem;
            margin: 1.6rem;
            border-radius: 3px;
        }
    }
}