<!-- <img src="../../assets/img/pizza4.jpg" class="img">
<img src="../../assets/img/pizza5.jpg" class="img">
<img src="../../assets/img/pizza3.jpg" class="img"> -->

<div class="container">
    <h1>About Us</h1>
    <div class="d-flex align-items-center">
        <div class="flex-shrink-0">
            <img src="../../assets/img/pizza7.jpg" alt="pizza chef">
        </div>
        <div class="flex-grow-1 ms-3">
            <h4>OUR CONCEPT</h4>
            <p>Everybody knows pizza. Originating in Naples, it is the typical traditional dish of the city at the slopes of Mount Vesuvius, a synonym for the culinary arts of every pizza chef, his pride and joy.<br> “O' pizzaiuolo” was the seller, an ancient
                profession that emerged long before the pizza was created as we know it today. Originally, pizza meant a flatbread made from wheat and without yeast, topped with oil, anchovies, cheese and, later, tomatoes. The pizzaiuolo put the dough
                into a wood-fired oven and - “alluccando, alluccando” (shouting) “A' pizza a' pizza” (“Pizzaaa! Pizzaaa!”) - sold the finished flatbread to passers-by of his stand, usually located in the Via Toledo, the heart of Naples.</p>
        </div>
    </div>

    <div class="d-flex align-items-center">

        <div class="flex-grow-1 ms-3">
            <h4>OUR CONCEPT</h4>
            <p>ULTIMATE DINING EXPERIENCE LIKE NO OTHER.</p>
            <p>The Via Toledo was the bustling main street of the city, where “noble ladies and rich folk” showed off in fashionable carriages. The patricians loved to eat pizza closely watched by merchants, vendors and singers with their mandolins. <br>                Starting out from the Via Toledo of the past, we have set our heart at reviving the tradition, taste and aroma of former times in our products. <br> We are proud to offer our pizzas in the heart of your city. IGT, IGP, DOP, DOC and DOCG
                are not just designations - they authenticate and guarantee the quality of our products.</p>
        </div>
        <div class="flex-shrink-0">
            <img src="../../assets/img/pizza8.jpg" alt="pasta and wine">
        </div>
    </div>

    <div class="d-flex align-items-center">
        <div class="flex-shrink-0">
            <img src="https://us.123rf.com/450wm/svetilos/svetilos2209/svetilos220900078/191123512-a-cat-dressed-as-a-chef-prepares-margherita-pizza-in-the-kitchen.jpg?ver=6" alt="pizza chef">
        </div>
        <div class="flex-grow-1 ms-3">
            <h4>MEET OUR MASTER PIZZA CHEF</h4>
            <p>Benvenuto al Ristorante Il Gambero Rosso is the landing place of a route that started from afar, made of smells, sensations, and indelible memories. <br> The selection of the best raw materials, knowledge, and infinite passion, allow me to
                create a product well rooted in tradition, which consciously embraces the wind of gastronomic innovation, and at the same time caresses the palate, softly and intensely, with sensations of incomparable flavors. <br> “Intensa” is my personal
                and unique blend, specially designed to create a light, digestible pizza with an intense flavor beyond the final filling. It is a secret, semi-whole grain formula, rich in crucial elements, which naturally contain the antioxidant properties
                of Vitamin E, group B, and mineral salts. Hazelnut notes, on the other hand, distinguish the aromas of the final filling. Intense is a rich and complete formula, which allows, with the different kneading techniques and long maturation,
                to obtain a highly digestible pizza with a sublime taste.</p>
        </div>
    </div>

</div>