<nav class="navbar navbar-expand-lg justify-content-md-end justify-content-sm-center justify-content-xs-center">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/about">About US</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/menu">Menu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="#">Book a Table</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/cart">Cart</a>
        </li>
    </ul>
</nav>