.box {
    .item {
        text-align: center;
        padding: 10px;
        .headline {
            text-decoration: underline;
        }
        img {
            border-radius: 2px;
            height: 300px;
        }
    }
}

.headline {
    font-family: 'Playball', cursive;
}

.d-flex {
    padding: 20px;
    img {
        width: 200px;
    }
}