.box {
    .item {
        text-align: center;
        padding: 0.7rem;
        .headline {
            text-decoration: underline;
        }
        img {
            border-radius: 2px;
            height: 18.75rem;
        }
    }
}

.headline {
    font-family: 'Playball', cursive;
}

.d-flex {
    padding: 1.25rem;
    img {
        width: 12.5rem;
    }
}